<!--


    ██████╗ ██╗      █████╗  ██████╗ ██╗███╗   ██╗███████╗
    ██╔══██╗██║     ██╔══██╗██╔════╝ ██║████╗  ██║╚══███╔╝
    ██████╔╝██║     ███████║██║  ███╗██║██╔██╗ ██║  ███╔╝
    ██╔═══╝ ██║     ██╔══██║██║   ██║██║██║╚██╗██║ ███╔╝
    ██║     ███████╗██║  ██║╚██████╔╝██║██║ ╚████║███████╗
    ╚═╝     ╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚══════╝      by Arik Donovan

 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Plaginz | Web plugins | Front end development</title>

    <meta name="description" content="Plaginz : Plugins big filter for frontend developer ">
    <meta name="keywords" content="jquery , javascript , plugins , online , css ">
    <meta name="author" content="Arik Donovan">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="Plaginz : Plugins big filter for frontend developer ">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://araton95.github.io/Plaginz/pl-logo.png">

    <meta name="twitter:title" content="Plaginz : Big filter for frontend developer ">
    <meta name="twitter:description" content="Plaginz : Big filter for frontend developer ">

    <link rel="icon" href="favicon.png" type="image/x-icon"/>
    <link href="site/assets/css/style.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="row">
            <a href="https://araton95.github.io/Plaginz/"><img src="./site/src/images/logo/pl.white.png" alt=""></a>
            <span class="by">by <a target="_blank" title="Go to github"
                                   href="https://github.com/Araton95">Arik Donovan</a></span>
        </div>
    </div>
</header>

<div class="top_navigation">
    <div class="container">
        <div class="row">

            <img class="img-responsive chatToggleIcon" src="site\logo\icon-chat.png">

            <section class="col-xs-3 material-design-hamburger">
                <button class="material-design-hamburger__icon">
                    <span class="material-design-hamburger__layer"></span>
                </button>
            </section>

            <div class="search-area col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" autocomplete="off">
                <span class="glyphicon glyphicon-search search-icon"></span>
            </div>

            <div class="pagination-area col-xs-3 col-sm-9 col-md-10 col-lg-10">
                <div class="row">
                    <div class="content col-sm-12 col-md-12 col-lg-12">
                        <div id="pagination" class="movies-pagination col-sm-9 col-md-9 col-lg-10"></div>
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            Per Page: <span id="per_page" class="content"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="filter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="sidebar col-lg-2 menu menu--off">
                <div class="well">
                    <fieldset id="plugin-seciton_criteria">
                        <legend>Plugins</legend>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="All" id="all_plugin-seciton">
                                <span>All</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="3D">
                                <span>3D</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Animation">
                                <span>Animations</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Autocomplete">
                                <span>Autocomplete</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Buttons">
                                <span>Buttons</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Canvas">
                                <span>Canvas</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="CSS">
                                <span> CSS </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Datepicker">
                                <span> Datepicker </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="DOM">
                                <span> DOM </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Forms">
                                <span> Forms </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Gallery">
                                <span> Gallery </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Generators">
                                <span> Generators </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Graphics">
                                <span> Graphics </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Grid">
                                <span> Grid </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Hover">
                                <span> Hover </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Html5">
                                <span> HTML 5 </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Icons">
                                <span> Icons </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Images">
                                <span> Images </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Javascript">
                                <span> Javascript </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="jQuery">
                                <span> jQuery </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Library">
                                <span> Library </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Loader">
                                <span> Loader </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Map">
                                <span> Map </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Menu">
                                <span> Menu </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Other">
                                <span> Other </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Parallax">
                                <span> Parallax </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Popup">
                                <span> Popup </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Scroll">
                                <span> Scroll </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Select">
                                <span> Select </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Slider">
                                <span> Slider </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Sortable">
                                <span> Sortable </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="SVG">
                                <span> SVG </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Tabs">
                                <span> Tabs </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Tooltips">
                                <span> Tooltips </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Validation">
                                <span> Validation </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Zoom">
                                <span> Zoom </span>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="cards col-lg-10">
                <div class="movies row" id="movies"></div>
            </div>
            <!-- Main Chat  -->
        <div class="col-lg-5 charWrapper">
            <div class="col-xs-12 col-sm-6 col-md-8 chat">
                <div class="chat-title">
                    <h2>Chat bot listens</h2>
                </div>
                <div class="messages">
                    <div class="messages-content"></div>
                </div>
                <div class="message-box">
                    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                    <button type="submit" class="message-submit">Send</button>
                </div>
            </div>
        </div>


                <!--<div class="col-xs-12 col-sm-6 col-md-8 chatSize">.col-xs-12 .col-sm-6 .col-md-8</div>-->
            <!--
            End of Chat  :?
            -->
        </div>
    </div>
</main>

<script id="movie-template" type="text/html">
    <div class="card">
        <div class="thumbnail">
            <div class="caption">
                <div class="image">
                    <div class="overflow">
                        <img class="plugin-pic" src="site/logo/<%= img %>" alt="Plugin image"
                             onError="
                             this.onerror=null;
                             this.parentElement.className += ' no-image';
                             this.remove();
                         ">
                        <div class="image-default">
                            <h1><%= name %></h1>
                        </div>

                    </div>

                    <a href="<%= demo %>" class="demo" target="_blank" title="Demo">
                        <span class="icon icon-external-link-square"></span>
                    </a>

                    <a href="<%= download %>" class="download" title="Download" download>
                        <span class="icon icon-box-add"></span>
                    </a>
                </div>

                <div class="description-box">
                    <h1 class="name"> <%= name %> </h1>
                </div>

                <div class="about-makers">
                    <a target="_blank" href="<%= docs %>" title="<%= name %> documentation">
                        <span class="icon icon-earth"></span> <%= name %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="plugin-seciton_template" type="text/html">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="<%= pluginType %>"> <%= pluginType %>
        </label>
    </div>
</script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="site/assets/js/app.js" type="text/javascript"></script>
<script src="site/assets/js/vendor-bundle.js" type="text/javascript"></script>
<script>
        var socket = io({
        transports: [
            'websocket',
            'flashsocket',
            'htmlfile',
            'xhr-polling',
            'jsonp-polling',
            'polling'
        ]
    });
    $('.message-submit').on('click', function () {
        socket.emit('chat message', $('.message-input').val());
        $('.message-input').val('');
        return false;
    });
    socket.on('chat message', function (msg) {
        $('.messages-content').append(msg + '<br>');

    });
</script>
</body>
</html>
