@blue: #3b5998;
@bluesecond: #3C6997;
@yellow: #FFDD4A;
@orange: #FFBC42;
@red: #ff4444;
@pink: #D81159;
@green: #0f9d58;
@white: #fff;
@lightgray: #f6f7f9;
@gray: #e9ebee;

.card-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.no-scroll {
  overflow: hidden;
  position: fixed;
}
.container {
  margin: 0;
  width: 100%;
}

body {
  font-family: 'MyriadProRegular';
  min-width: 320px;
  width: 100%;
  height: 100%;

  .header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: @blue;
    text-align: left;
    padding: 2px 0;

    .container {
      .row {
        img {
          margin-left: 11px;
          width: 117px;
        }
      }
    }
    
    .by {
      color: @white;
      float: right;
      margin: 8px 11px;
      font-size: 16px;
      
      a {
        color: @white;
      }
    }
  }

  .top_navigation {
    z-index: 100;
    background-color: @white;
    .card-shadow;
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    width: 100%;

    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .container {
      .row {
        .material-design-hamburger {
          float: left;
          display: none;
        }

        .search-area {
          padding: 0;
          height: 34px;
          margin-left: 15px;
          width: 246px;

          &:focus {
            border: 1px solid @blue;
          }
        }

        .pagination-area {
          width: calc(~"100% - 261px");
          height: 34px;

          .content {
            margin-top: 0;

            .pagination {
              padding: 0;
              margin: 0;

              li {
                a {
                  transition: all 250ms;
                  cursor: pointer;
                }
              }
            }

            .col-lg-2 {
              display: none;
            }
          }
        }
      }

      & > .row {
        padding: 15px 0;
      }
    }
  }

  .filter {
    background-color: @gray;
    min-height: calc(~"100vh - 107px");

    .container {
      margin-top: 107px;
      position: relative;

      .row {
        .sidebar {
          z-index: 100;
          position: fixed;
          top: 107px;
          height: calc(~"100vh - 107px");
          overflow-y: auto;
          overflow-x: hidden;
          width: 260px;
          padding: 0;
          .card-shadow;
          background-color: @white;

          .well {
            border: none;
            padding: 0;
            width: 100%;
            margin: 0;

            #plugin-seciton_criteria {
              width: 260px;

              legend {
                font-family: 'MyriadProBold';
                padding: 10px 0 0 15px;
                border: none;
                color: @blue;
              }

              .checkbox {
                margin: 0;

                label {
                  width: 100%;
                  padding: 0;

                  input[type=checkbox] {
                    visibility: hidden;

                    &:checked + span {
                      background-color: @gray;
                      padding-left: 20px;
                    }
                  }

                  span {
                    padding: 8px 0 8px 15px;
                    display: block;
                    background-color: @white;
                    transition: all 150ms cubic-bezier(0.85, -0.02, 0.36, 1);
                    font-size: 16px;
                    color: @blue;
                  }

                  &:hover {
                    span {
                      background-color: @lightgray;
                      padding-left: 20px;
                    }
                  }
                }
              }
            }
          }
        }

        .cards {
          width: calc(~"100% - 310px");
          margin: 20px 25px 20px 285px;
          .card {
            padding: 0;
            display: inline-block;
            margin: 0 20px 20px 0;
            .card-shadow;
            width: 205px;
            height: 270px;

            .thumbnail {
              height: 100%;
              padding: 0;
              border: none;

              .caption {
                position: relative;
                padding: 0;

                .image {
                  position: relative;

                  .overflow {
                    height: 165px;
                    overflow: hidden;
                    background-color: #1e1e1e;

                    .plugin-pic {
                      width: 100%;
                      &[src='Error.src'] {
                        display: none;
                      }
                    }

                    .image-default {
                      display: none;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);

                      h1 {
                        font-size: 32px;
                        color: @white;
                        border-bottom: 1px solid @white;
                      }
                    }

                    &.no-image {
                      display: block;
                      width: 100%;
                      background-color: @blue;
                      text-align: center;

                      .image-default {
                        display: block;
                      }
                    }
                  }

                  .download,
                  .demo {
                    background-color: @orange;
                    position: absolute;
                    bottom: -21px;
                    right: 3px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    outline: 0;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12),
                    0 2px 4px rgba(0, 0, 0, 0.24);

                    &:hover, &:focus {
                      text-decoration: none;
                      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
                      0 3px 6px rgba(0, 0, 0, 0.24);

                      -webkit-transform: scale(1.2);
                      -moz-transform: scale(1.2);
                      -ms-transform: scale(1.2);
                      -o-transform: scale(1.2);
                      transform: scale(1.2);
                    }

                    .icon {
                      color: @white;
                    }
                  }

                  .demo {
                    right: 53px;
                    background-color: @red;
                  }
                }
              }

              .description-box {
                padding: 8px;

                .name {
                  margin: 20px 0 5px 0;
                  font-size: 20px;
                }
              }

              .about-makers {
                padding: 8px;

                a {
                  .icon {
                    color: @blue;
                    vertical-align: middle;
                    margin-right: 5px;
                    font-size: 18px;
                  }

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1287px) {
  body {
    .top_navigation {
      .container {
        .row {
          .search-area {
            width: 186px;
          }
        }
      }
    }

    .filter {
      .container {
        .row {
          .sidebar {
            width: 200px;

            .well {
              #plugin-seciton_criteria {
                width: 200px;
              }
            }
          }

          .cards {
            width: calc(~"100% - 225px");
            margin: 20px 25px 20px 225px;
          }
        }
      }
    }
  }
}
@media (max-width: 769px) {
  body {
    .top_navigation {
      .container {
        .row {
          .material-design-hamburger {
            display: block;
          }

          .search-area {
            width: 60%;
            margin-right: 15px;
            float: right;
          }

          .pagination-area {
            display: none;
            .row {
              .content {
                .col-lg-2 {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .filter {
      .overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        opacity: 0;

        &.on {
          opacity: 1;
          display: block;
        }
      }

      .container {
        .row {
          .sidebar {
            width: 200px;
            left: -100%;

            &.menu--on {
              left: 0;
            }
          }

          .cards {
            text-align: center;
            width: 100%;
            margin: 20px 0 20px 0;

            .card {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 467px) {
  body {
    .filter {
      .container {
        .row {
          margin: 0;

          .sidebar {
            width: 250px;

            .well {
              #plugin-seciton_criteria {
                width: 250px;
              }
            }
          }

          .cards {
            padding: 0;

            .card {
              margin-right: 0;
              padding: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}