@baseblue : #33b5e5;
@red : #ff4444;
@header : #34495e;
@green : #0f9d58;
@white : #fff;
@ligthgray : #e7e7e7;

.card-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container {
  width: 98vw;
}

body {
  .header {
    background-color: @baseblue;
    text-align: center;

    h1 {
      color: @white;
      margin: 0;
    }
  }

  .top_navigation {
    width: 100%;
    background-color: @white;
    .card-shadow;

    .container {
      .row {
        .col-lg-2 {
          padding: 0;
          height: 34px;

          &:focus {
            border: 1px solid @baseblue;
          }
        }

        .col-lg-10 {
          height: 34px;
          .content {
            margin-top: 0;

            .pagination {
              padding: 0;
              margin: 0;
            }
          }
        }
      }

      & > .row {
        padding: 15px 0;
      }
    }
  }

  .filter {
    background-color: @ligthgray;

    .container {
      width: 100vw;

      .row {
        .sidebar {
            position: relative;
            padding: 0;

            .well {
              border-radius: 2px;
              width: 99%;
              margin:0;
              .card-shadow;
            }
          }

        .col-lg-10 {
          max-width: 1440px;
          padding: 10px 50px 0 50px;

          .thumbnail {
            padding: 0;
            .card-shadow;
            height: 285px;

            .caption {
              position: relative;
              padding: 0;

              .image {
                position: relative;

                .plugin-pic {
                  width: 100%;
                }

                .download {
                  position: absolute;
                  bottom: -18px;
                  right: 3px;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  border-radius: 50%;
                  background-color: #fff;
                  transition: all 0.3s ease;
                  outline: 0;
                  box-shadow:
                          0 2px 4px rgba(0,0,0, 0.12),
                          0 2px 4px rgba(0,0,0, 0.24);

                  &:hover,&:focus {
                    text-decoration: none;
                    box-shadow:
                            0 3px 6px rgba(0,0,0, 0.12),
                            0 3px 6px rgba(0,0,0, 0.24);

                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transform: scale(1.2);
                  }

                  .icon {
                    color: @green;
                  }
                }

              }

              .description-box {
                padding: 8px;

                .plugin-name {
                  margin: 5px 0;
                  font-size: 18px;
                }
              }

              .about-makers {
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }
}
